/* Home Page */
.home {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Form Page */
.form-container {
    width: 50%;
    margin: auto;
    background: #111;
    padding: 30px;
    color: white;
    border-radius: 8px;
}

input, select {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    border-radius: 3px;
    padding: 8px;
}
