body {
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: #111;
    padding: 20px;
    border-radius: 14px;
}

.logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 20px auto;
}


input, select {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: white;
    color: black;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

pre {
    text-align: left;
    white-space: pre-wrap;
}

.back {
    display: block;
    margin-top: 20px;
    background: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
