body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    background: white;
    padding: 12px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
}

.container {
    width: 420px;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
