body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-box {
    text-align: center;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.form-box {
    width: 350px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

input, select, textarea, button {
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

textarea {
    height: 70px;
}

button {
    background: white;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.plan-box {
    width: 350px;
    margin: 40px auto;
}
