body {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    margin-top: 15%;
}

button {
    padding: 10px 30px;
    background: white;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.form-container {
    width: 350px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.plan-box {
    width: 80%;
    margin: 40px auto;
    background: #111;
    padding: 20px;
    border-radius: 10px;
}
