<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form action="/generate-plan" method="POST" class="form-box">

<h2>Student Information</h2>

<input name="name" placeholder="Student Name" required>
<input name="age" placeholder="Age" required>

<select name="student_type" required>
    <option value="">Student Type</option>
    <option>School Student</option>
    <option>College Student</option>
</select>

<select name="stream" required>
    <option value="">Stream / Subject</option>
    <option>Science</option>
    <option>Math</option>
    <option>Commerce</option>
    <option>Arts</option>
</select>

<select name="learning_style" required>
    <option value="">How do you learn best?</option>
    <option>Visual (videos, diagrams)</option>
    <option>Auditory (listening)</option>
    <option>Practical (doing)</option>
</select>

<select name="attention_span" required>
    <option value="">Attention Span</option>
    <option>5–10 minutes</option>
    <option>10–20 minutes</option>
    <option>20+ minutes</option>
</select>

<input name="daily_time" placeholder="Daily study time (hours)" required>

<textarea name="weak_areas" placeholder="Which subjects feel difficult?"></textarea>
<textarea name="goal" placeholder="What do you want to achieve?"></textarea>

<button type="submit">Generate Study Plan</button>

</form>

</body>
</html>
