<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h2 style="text-align:center;">Tell us about yourself</h2>

<form action="/generate-plan" method="POST" class="form-container">

<input type="text" name="name" placeholder="Full Name" required>

<select name="stream" required>
  <option value="">Select Stream</option>
  <option>Science</option>
  <option>Commerce</option>
  <option>Arts</option>
  <option>Engineering / BTech / CS</option>
  <option>Medical / NEET</option>
</select>

<input type="text" name="weak_areas" placeholder="Weak Subjects/Topics">

<input type="text" name="goal" placeholder="Your Goal (Example: Score 90% / Crack NEET)" required>

<input type="number" name="daily_time" placeholder="Daily Study Hours" min="1" max="12" required>

<select name="learning_style" required>
  <option value="">Learning Style</option>
  <option>Visual (Videos/Diagrams)</option>
  <option>Auditory (Listening)</option>
  <option>Reading/Writing</option>
  <option>Kinesthetic (Hands-on)</option>
</select>

<button type="submit">Generate Study Plan</button>
</form>

</body>
</html>

