<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrowIQ - Smart Study Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png.jpeg') }}" alt="Logo" class="logo">
        <h1>Welcome to GrowIQ</h1>
        <p>Your Smart AI Assistant for Personalized Study Planning</p>
        <a href="/form" class="btn">Start Planning</a>
    </div>
</body>
</html>
